{% load static  %}
<!DOCTYPE html>
{% include "compnoents/head.html" %}
<body>
    {% include "compnoents/loader.html" %}
    {% include "compnoents/offcanvas.html" %}
    {% include "compnoents/header.html" %}
    {% include "compnoents/hero.html" %}
    {% include "compnoents/choseus.html" %}
    {% include "compnoents/banner.html" %}
    {% include "compnoents/offers.html" %}
    {% include "compnoents/plans.html" %}
    {% include "compnoents/gallery.html" %}
    {% include "compnoents/team.html" %}
    {% include "compnoents/contact.html" %}
    {% include "compnoents/scripts.html" %}
    {% include "compnoents/footer.html" %}
</body>
</html>